.logotype__text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logotype__text--black {
  color: black;
}
.for-logotype {
  width: 145px;
}

.logotype {
  display: block;
  width: 145px;
  text-decoration: none;
  margin: 0;
  color: $accent-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logotype__text--white {
  color: $white-color;
}

.logotype--lower {
  margin-bottom: 20px;
}

